<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" />
    <httpRuntime maxRequestLength="2097151" />
    <authentication mode="Forms">
      <forms name="MyCookieName"
             loginUrl="MyLogin.aspx"
             timeout="20">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin" />
          <user name="user" password="user" />
        </credentials>
      </forms>
    </authentication>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
  </appSettings>
</configuration>
